In [71]:
import pymongo
import pandas as pd
import numpy as np

In [72]:
# CREATE A MONGO DATABASE AND NAME IT DATA TRACKER


myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["DataTracker"]
mycol = mydb["MAKE"]

# ADD PRINT PRODUCT FILE
df = pd.read_csv('CarData.csv')

MODEL = df.to_dict(orient= 'records')
x = mycol.insert_many(MODEL)
for x in mycol.find():
        print(x)

{'_id': ObjectId('5e95873c95d6bf8faf35b993'), 'Unnamed: 0': 0, 'MAKE': 'TOYOTA', 'SUV': 288456, 'SEDAN': 652346, 'BAKKIE': 456123, 'COUPLE': 344565, 'MPV': 349855, 'CABRIOLET': 200560, 'TRUCKS': 523500, 'TOTAL': 2815405, 'BUCCATI': 'SUV'}
{'_id': ObjectId('5e95873c95d6bf8faf35b994'), 'Unnamed: 0': 1, 'MAKE': 'HYNDAI', 'SUV': 268123, 'SEDAN': 566457, 'BAKKIE': 444555, 'COUPLE': 458906, 'MPV': 438756, 'CABRIOLET': 957800, 'TRUCKS': 678750, 'TOTAL': 3813347}
{'_id': ObjectId('5e95873c95d6bf8faf35b995'), 'Unnamed: 0': 2, 'MAKE': 'KIA', 'SUV': 584345, 'SEDAN': 782386, 'BAKKIE': 456756, 'COUPLE': 412356, 'MPV': 413567, 'CABRIOLET': 783500, 'TRUCKS': 734580, 'TOTAL': 4167490}
{'_id': ObjectId('5e95873c95d6bf8faf35b996'), 'Unnamed: 0': 3, 'MAKE': 'MAZDA', 'SUV': 567347, 'SEDAN': 987896, 'BAKKIE': 564356, 'COUPLE': 454586, 'MPV': 459876, 'CABRIOLET': 323000, 'TRUCKS': 904560, 'TOTAL': 4261621}
{'_id': ObjectId('5e95873c95d6bf8faf35b997'), 'Unnamed: 0': 4, 'MAKE': 'MERCEDES-BENZ', 'SUV': 132346, 'SEDAN': 567845, 'BAKKIE': 345623, 'COUPLE': 446755, 'MPV': 451956, 'CABRIOLET': 515700, 'TRUCKS': 782490, 'TOTAL': 3242715}
{'_id': ObjectId('5e95873c95d6bf8faf35b998'), 'Unnamed: 0': 5, 'MAKE': 'NISSAN', 'SUV': 545667, 'SEDAN': 712365, 'BAKKIE': 556127, 'COUPLE': 561247, 'MPV': 326845, 'CABRIOLET': 245700, 'TRUCKS': 344550, 'TOTAL': 3292501}
{'_id': ObjectId('5e95873c95d6bf8faf35b999'), 'Unnamed: 0': 6, 'MAKE': 'BMW', 'SUV': 678123, 'SEDAN': 778676, 'BAKKIE': 747889, 'COUPLE': 564478, 'MPV': 390695, 'CABRIOLET': 150270, 'TRUCKS': 894576, 'TOTAL': 4204707}
{'_id': ObjectId('5e95873c95d6bf8faf35b99a'), 'Unnamed: 0': 7, 'MAKE': 'VOLKSWAGEN', 'SUV': 834596, 'SEDAN': 876235, 'BAKKIE': 550986, 'COUPLE': 564877, 'MPV': 562357, 'CABRIOLET': 700123, 'TRUCKS': 614757, 'TOTAL': 4703931}
{'_id': ObjectId('5e95873c95d6bf8faf35b99b'), 'Unnamed: 0': 8, 'MAKE': 'AUDI', 'SUV': 455678, 'SEDAN': 874766, 'BAKKIE': 567223, 'COUPLE': 556457, 'MPV': 512356, 'CABRIOLET': 789345, 'TRUCKS': 545681, 'TOTAL': 4301506}
{'_id': ObjectId('5e959047c39f5cd7f2fb3bf9'), 'Unnamed: 0': 0, 'MAKE': 'TOYOTA', 'SUV': 288456, 'SEDAN': 652346, 'BAKKIE': 456123, 'COUPLE': 344565, 'MPV': 349855, 'CABRIOLET': 200560, 'TRUCKS': 523500, 'TOTAL': 2815405}
{'_id': ObjectId('5e959047c39f5cd7f2fb3bfa'), 'Unnamed: 0': 1, 'MAKE': 'HYNDAI', 'SUV': 268123, 'SEDAN': 566457, 'BAKKIE': 444555, 'COUPLE': 458906, 'MPV': 438756, 'CABRIOLET': 957800, 'TRUCKS': 678750, 'TOTAL': 3813347}
{'_id': ObjectId('5e959047c39f5cd7f2fb3bfb'), 'Unnamed: 0': 2, 'MAKE': 'KIA', 'SUV': 584345, 'SEDAN': 782386, 'BAKKIE': 456756, 'COUPLE': 412356, 'MPV': 413567, 'CABRIOLET': 783500, 'TRUCKS': 734580, 'TOTAL': 4167490}
{'_id': ObjectId('5e959047c39f5cd7f2fb3bfc'), 'Unnamed: 0': 3, 'MAKE': 'MAZDA', 'SUV': 567347, 'SEDAN': 987896, 'BAKKIE': 564356, 'COUPLE': 454586, 'MPV': 459876, 'CABRIOLET': 323000, 'TRUCKS': 904560, 'TOTAL': 4261621}
{'_id': ObjectId('5e959047c39f5cd7f2fb3bfd'), 'Unnamed: 0': 4, 'MAKE': 'MERCEDES-BENZ', 'SUV': 132346, 'SEDAN': 567845, 'BAKKIE': 345623, 'COUPLE': 446755, 'MPV': 451956, 'CABRIOLET': 515700, 'TRUCKS': 782490, 'TOTAL': 3242715}
{'_id': ObjectId('5e959047c39f5cd7f2fb3bfe'), 'Unnamed: 0': 5, 'MAKE': 'NISSAN', 'SUV': 545667, 'SEDAN': 712365, 'BAKKIE': 556127, 'COUPLE': 561247, 'MPV': 326845, 'CABRIOLET': 245700, 'TRUCKS': 344550, 'TOTAL': 3292501}
{'_id': ObjectId('5e959047c39f5cd7f2fb3bff'), 'Unnamed: 0': 6, 'MAKE': 'BMW', 'SUV': 678123, 'SEDAN': 778676, 'BAKKIE': 747889, 'COUPLE': 564478, 'MPV': 390695, 'CABRIOLET': 150270, 'TRUCKS': 894576, 'TOTAL': 4204707}
{'_id': ObjectId('5e959047c39f5cd7f2fb3c00'), 'Unnamed: 0': 7, 'MAKE': 'VOLKSWAGEN', 'SUV': 834596, 'SEDAN': 876235, 'BAKKIE': 550986, 'COUPLE': 564877, 'MPV': 562357, 'CABRIOLET': 700123, 'TRUCKS': 614757, 'TOTAL': 4703931}
{'_id': ObjectId('5e959047c39f5cd7f2fb3c01'), 'Unnamed: 0': 8, 'MAKE': 'AUDI', 'SUV': 455678, 'SEDAN': 874766, 'BAKKIE': 567223, 'COUPLE': 556457, 'MPV': 512356, 'CABRIOLET': 789345, 'TRUCKS': 545681, 'TOTAL': 4301506}
{'_id': ObjectId('5e95a5b0c39f5cd7f2fb3c0c'), 'Unnamed: 0': 0, 'MAKE': 'TOYOTA', 'SUV': 288456, 'SEDAN': 652346, 'BAKKIE': 456123, 'COUPLE': 344565, 'MPV': 349855, 'CABRIOLET': 200560, 'TRUCKS': 523500, 'TOTAL': 2815405}
{'_id': ObjectId('5e95a5b0c39f5cd7f2fb3c0d'), 'Unnamed: 0': 1, 'MAKE': 'HYNDAI', 'SUV': 268123, 'SEDAN': 566457, 'BAKKIE': 444555, 'COUPLE': 458906, 'MPV': 438756, 'CABRIOLET': 957800, 'TRUCKS': 678750, 'TOTAL': 3813347}
{'_id': ObjectId('5e95a5b0c39f5cd7f2fb3c0e'), 'Unnamed: 0': 2, 'MAKE': 'KIA', 'SUV': 584345, 'SEDAN': 782386, 'BAKKIE': 456756, 'COUPLE': 412356, 'MPV': 413567, 'CABRIOLET': 783500, 'TRUCKS': 734580, 'TOTAL': 4167490}
{'_id': ObjectId('5e95a5b0c39f5cd7f2fb3c0f'), 'Unnamed: 0': 3, 'MAKE': 'MAZDA', 'SUV': 567347, 'SEDAN': 987896, 'BAKKIE': 564356, 'COUPLE': 454586, 'MPV': 459876, 'CABRIOLET': 323000, 'TRUCKS': 904560, 'TOTAL': 4261621}
{'_id': ObjectId('5e95a5b0c39f5cd7f2fb3c10'), 'Unnamed: 0': 4, 'MAKE': 'MERCEDES-BENZ', 'SUV': 132346, 'SEDAN': 567845, 'BAKKIE': 345623, 'COUPLE': 446755, 'MPV': 451956, 'CABRIOLET': 515700, 'TRUCKS': 782490, 'TOTAL': 3242715}
{'_id': ObjectId('5e95a5b0c39f5cd7f2fb3c11'), 'Unnamed: 0': 5, 'MAKE': 'NISSAN', 'SUV': 545667, 'SEDAN': 712365, 'BAKKIE': 556127, 'COUPLE': 561247, 'MPV': 326845, 'CABRIOLET': 245700, 'TRUCKS': 344550, 'TOTAL': 3292501}
{'_id': ObjectId('5e95a5b0c39f5cd7f2fb3c12'), 'Unnamed: 0': 6, 'MAKE': 'BMW', 'SUV': 678123, 'SEDAN': 778676, 'BAKKIE': 747889, 'COUPLE': 564478, 'MPV': 390695, 'CABRIOLET': 150270, 'TRUCKS': 894576, 'TOTAL': 4204707}
{'_id': ObjectId('5e95a5b0c39f5cd7f2fb3c13'), 'Unnamed: 0': 7, 'MAKE': 'VOLKSWAGEN', 'SUV': 834596, 'SEDAN': 876235, 'BAKKIE': 550986, 'COUPLE': 564877, 'MPV': 562357, 'CABRIOLET': 700123, 'TRUCKS': 614757, 'TOTAL': 4703931}
{'_id': ObjectId('5e95a5b0c39f5cd7f2fb3c14'), 'Unnamed: 0': 8, 'MAKE': 'AUDI', 'SUV': 455678, 'SEDAN': 874766, 'BAKKIE': 567223, 'COUPLE': 556457, 'MPV': 512356, 'CABRIOLET': 789345, 'TRUCKS': 545681, 'TOTAL': 4301506}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c2a'), 'Unnamed: 0': 0, 'MAKE': 'TOYOTA', 'SUV': 288456, 'SEDAN': 652346, 'BAKKIE': 456123, 'COUPLE': 344565, 'MPV': 349855, 'CABRIOLET': 200560, 'TRUCKS': 523500, 'TOTAL': 2815405}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c2b'), 'Unnamed: 0': 1, 'MAKE': 'HYNDAI', 'SUV': 268123, 'SEDAN': 566457, 'BAKKIE': 444555, 'COUPLE': 458906, 'MPV': 438756, 'CABRIOLET': 957800, 'TRUCKS': 678750, 'TOTAL': 3813347}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c2c'), 'Unnamed: 0': 2, 'MAKE': 'KIA', 'SUV': 584345, 'SEDAN': 782386, 'BAKKIE': 456756, 'COUPLE': 412356, 'MPV': 413567, 'CABRIOLET': 783500, 'TRUCKS': 734580, 'TOTAL': 4167490}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c2d'), 'Unnamed: 0': 3, 'MAKE': 'MAZDA', 'SUV': 567347, 'SEDAN': 987896, 'BAKKIE': 564356, 'COUPLE': 454586, 'MPV': 459876, 'CABRIOLET': 323000, 'TRUCKS': 904560, 'TOTAL': 4261621}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c2e'), 'Unnamed: 0': 4, 'MAKE': 'MERCEDES-BENZ', 'SUV': 132346, 'SEDAN': 567845, 'BAKKIE': 345623, 'COUPLE': 446755, 'MPV': 451956, 'CABRIOLET': 515700, 'TRUCKS': 782490, 'TOTAL': 3242715}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c2f'), 'Unnamed: 0': 5, 'MAKE': 'NISSAN', 'SUV': 545667, 'SEDAN': 712365, 'BAKKIE': 556127, 'COUPLE': 561247, 'MPV': 326845, 'CABRIOLET': 245700, 'TRUCKS': 344550, 'TOTAL': 3292501}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c30'), 'Unnamed: 0': 6, 'MAKE': 'BMW', 'SUV': 678123, 'SEDAN': 778676, 'BAKKIE': 747889, 'COUPLE': 564478, 'MPV': 390695, 'CABRIOLET': 150270, 'TRUCKS': 894576, 'TOTAL': 4204707}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c31'), 'Unnamed: 0': 7, 'MAKE': 'VOLKSWAGEN', 'SUV': 834596, 'SEDAN': 876235, 'BAKKIE': 550986, 'COUPLE': 564877, 'MPV': 562357, 'CABRIOLET': 700123, 'TRUCKS': 614757, 'TOTAL': 4703931}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c32'), 'Unnamed: 0': 8, 'MAKE': 'AUDI', 'SUV': 455678, 'SEDAN': 874766, 'BAKKIE': 567223, 'COUPLE': 556457, 'MPV': 512356, 'CABRIOLET': 789345, 'TRUCKS': 545681, 'TOTAL': 4301506}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c35'), 'MAKE': 'ALPHAROMEO', 'SUV': 'SEDAN'}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c36'), 'MAKE': 'HONDA', 'SUV': 'SEDAN'}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c37'), 'MAKE': 'FORD', 'SUV': 'SEDAN'}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c38'), 'MAKE': 'FERARI', 'SUV': 'SEDAN'}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c39'), 'MAKE': 'ROSROYCE', 'SUV': 'SEDAN'}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c59'), 'Unnamed: 0': 0, 'MAKE': 'TOYOTA', 'SUV': 288456, 'SEDAN': 652346, 'BAKKIE': 456123, 'COUPLE': 344565, 'MPV': 349855, 'CABRIOLET': 200560, 'TRUCKS': 523500, 'TOTAL': 2815405}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c5a'), 'Unnamed: 0': 1, 'MAKE': 'HYNDAI', 'SUV': 268123, 'SEDAN': 566457, 'BAKKIE': 444555, 'COUPLE': 458906, 'MPV': 438756, 'CABRIOLET': 957800, 'TRUCKS': 678750, 'TOTAL': 3813347}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c5b'), 'Unnamed: 0': 2, 'MAKE': 'KIA', 'SUV': 584345, 'SEDAN': 782386, 'BAKKIE': 456756, 'COUPLE': 412356, 'MPV': 413567, 'CABRIOLET': 783500, 'TRUCKS': 734580, 'TOTAL': 4167490}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c5c'), 'Unnamed: 0': 3, 'MAKE': 'MAZDA', 'SUV': 567347, 'SEDAN': 987896, 'BAKKIE': 564356, 'COUPLE': 454586, 'MPV': 459876, 'CABRIOLET': 323000, 'TRUCKS': 904560, 'TOTAL': 4261621}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c5d'), 'Unnamed: 0': 4, 'MAKE': 'MERCEDES-BENZ', 'SUV': 132346, 'SEDAN': 567845, 'BAKKIE': 345623, 'COUPLE': 446755, 'MPV': 451956, 'CABRIOLET': 515700, 'TRUCKS': 782490, 'TOTAL': 3242715}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c5e'), 'Unnamed: 0': 5, 'MAKE': 'NISSAN', 'SUV': 545667, 'SEDAN': 712365, 'BAKKIE': 556127, 'COUPLE': 561247, 'MPV': 326845, 'CABRIOLET': 245700, 'TRUCKS': 344550, 'TOTAL': 3292501}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c5f'), 'Unnamed: 0': 6, 'MAKE': 'BMW', 'SUV': 678123, 'SEDAN': 778676, 'BAKKIE': 747889, 'COUPLE': 564478, 'MPV': 390695, 'CABRIOLET': 150270, 'TRUCKS': 894576, 'TOTAL': 4204707}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c60'), 'Unnamed: 0': 7, 'MAKE': 'VOLKSWAGEN', 'SUV': 834596, 'SEDAN': 876235, 'BAKKIE': 550986, 'COUPLE': 564877, 'MPV': 562357, 'CABRIOLET': 700123, 'TRUCKS': 614757, 'TOTAL': 4703931}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c61'), 'Unnamed: 0': 8, 'MAKE': 'AUDI', 'SUV': 455678, 'SEDAN': 874766, 'BAKKIE': 567223, 'COUPLE': 556457, 'MPV': 512356, 'CABRIOLET': 789345, 'TRUCKS': 545681, 'TOTAL': 4301506}

In [73]:
# CREATE COLECTION OF MULTIPLE PRODUCT

import pymongo
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["DataTracker"]
mycol = mydb["HATCHBACK"]
mycol = mydb["SUV"]
mycol = mydb["SEDAN"]

In [74]:
#insert multiple document


import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")   

mydb = myclient["DataTracker"]                       

mycol = mydb["MAKE"]

MODEL = [

  { "MAKE": "ALPHAROMEO", "SUV": "SEDAN"},             

{ "MAKE": "HONDA", "SUV": "SEDAN"},

  { "MAKE": "FORD", "SUV": "SEDAN"},

  { "MAKE": "FERARI", "SUV": "SEDAN"},

  { "MAKE": "ROSROYCE", "SUV": "SEDAN"},


    
 ]

x = mycol.insert_many(MODEL)

for x in mycol.find():
        print(x)

{'_id': ObjectId('5e95873c95d6bf8faf35b993'), 'Unnamed: 0': 0, 'MAKE': 'TOYOTA', 'SUV': 288456, 'SEDAN': 652346, 'BAKKIE': 456123, 'COUPLE': 344565, 'MPV': 349855, 'CABRIOLET': 200560, 'TRUCKS': 523500, 'TOTAL': 2815405, 'BUCCATI': 'SUV'}
{'_id': ObjectId('5e95873c95d6bf8faf35b994'), 'Unnamed: 0': 1, 'MAKE': 'HYNDAI', 'SUV': 268123, 'SEDAN': 566457, 'BAKKIE': 444555, 'COUPLE': 458906, 'MPV': 438756, 'CABRIOLET': 957800, 'TRUCKS': 678750, 'TOTAL': 3813347}
{'_id': ObjectId('5e95873c95d6bf8faf35b995'), 'Unnamed: 0': 2, 'MAKE': 'KIA', 'SUV': 584345, 'SEDAN': 782386, 'BAKKIE': 456756, 'COUPLE': 412356, 'MPV': 413567, 'CABRIOLET': 783500, 'TRUCKS': 734580, 'TOTAL': 4167490}
{'_id': ObjectId('5e95873c95d6bf8faf35b996'), 'Unnamed: 0': 3, 'MAKE': 'MAZDA', 'SUV': 567347, 'SEDAN': 987896, 'BAKKIE': 564356, 'COUPLE': 454586, 'MPV': 459876, 'CABRIOLET': 323000, 'TRUCKS': 904560, 'TOTAL': 4261621}
{'_id': ObjectId('5e95873c95d6bf8faf35b997'), 'Unnamed: 0': 4, 'MAKE': 'MERCEDES-BENZ', 'SUV': 132346, 'SEDAN': 567845, 'BAKKIE': 345623, 'COUPLE': 446755, 'MPV': 451956, 'CABRIOLET': 515700, 'TRUCKS': 782490, 'TOTAL': 3242715}
{'_id': ObjectId('5e95873c95d6bf8faf35b998'), 'Unnamed: 0': 5, 'MAKE': 'NISSAN', 'SUV': 545667, 'SEDAN': 712365, 'BAKKIE': 556127, 'COUPLE': 561247, 'MPV': 326845, 'CABRIOLET': 245700, 'TRUCKS': 344550, 'TOTAL': 3292501}
{'_id': ObjectId('5e95873c95d6bf8faf35b999'), 'Unnamed: 0': 6, 'MAKE': 'BMW', 'SUV': 678123, 'SEDAN': 778676, 'BAKKIE': 747889, 'COUPLE': 564478, 'MPV': 390695, 'CABRIOLET': 150270, 'TRUCKS': 894576, 'TOTAL': 4204707}
{'_id': ObjectId('5e95873c95d6bf8faf35b99a'), 'Unnamed: 0': 7, 'MAKE': 'VOLKSWAGEN', 'SUV': 834596, 'SEDAN': 876235, 'BAKKIE': 550986, 'COUPLE': 564877, 'MPV': 562357, 'CABRIOLET': 700123, 'TRUCKS': 614757, 'TOTAL': 4703931}
{'_id': ObjectId('5e95873c95d6bf8faf35b99b'), 'Unnamed: 0': 8, 'MAKE': 'AUDI', 'SUV': 455678, 'SEDAN': 874766, 'BAKKIE': 567223, 'COUPLE': 556457, 'MPV': 512356, 'CABRIOLET': 789345, 'TRUCKS': 545681, 'TOTAL': 4301506}
{'_id': ObjectId('5e959047c39f5cd7f2fb3bf9'), 'Unnamed: 0': 0, 'MAKE': 'TOYOTA', 'SUV': 288456, 'SEDAN': 652346, 'BAKKIE': 456123, 'COUPLE': 344565, 'MPV': 349855, 'CABRIOLET': 200560, 'TRUCKS': 523500, 'TOTAL': 2815405}
{'_id': ObjectId('5e959047c39f5cd7f2fb3bfa'), 'Unnamed: 0': 1, 'MAKE': 'HYNDAI', 'SUV': 268123, 'SEDAN': 566457, 'BAKKIE': 444555, 'COUPLE': 458906, 'MPV': 438756, 'CABRIOLET': 957800, 'TRUCKS': 678750, 'TOTAL': 3813347}
{'_id': ObjectId('5e959047c39f5cd7f2fb3bfb'), 'Unnamed: 0': 2, 'MAKE': 'KIA', 'SUV': 584345, 'SEDAN': 782386, 'BAKKIE': 456756, 'COUPLE': 412356, 'MPV': 413567, 'CABRIOLET': 783500, 'TRUCKS': 734580, 'TOTAL': 4167490}
{'_id': ObjectId('5e959047c39f5cd7f2fb3bfc'), 'Unnamed: 0': 3, 'MAKE': 'MAZDA', 'SUV': 567347, 'SEDAN': 987896, 'BAKKIE': 564356, 'COUPLE': 454586, 'MPV': 459876, 'CABRIOLET': 323000, 'TRUCKS': 904560, 'TOTAL': 4261621}
{'_id': ObjectId('5e959047c39f5cd7f2fb3bfd'), 'Unnamed: 0': 4, 'MAKE': 'MERCEDES-BENZ', 'SUV': 132346, 'SEDAN': 567845, 'BAKKIE': 345623, 'COUPLE': 446755, 'MPV': 451956, 'CABRIOLET': 515700, 'TRUCKS': 782490, 'TOTAL': 3242715}
{'_id': ObjectId('5e959047c39f5cd7f2fb3bfe'), 'Unnamed: 0': 5, 'MAKE': 'NISSAN', 'SUV': 545667, 'SEDAN': 712365, 'BAKKIE': 556127, 'COUPLE': 561247, 'MPV': 326845, 'CABRIOLET': 245700, 'TRUCKS': 344550, 'TOTAL': 3292501}
{'_id': ObjectId('5e959047c39f5cd7f2fb3bff'), 'Unnamed: 0': 6, 'MAKE': 'BMW', 'SUV': 678123, 'SEDAN': 778676, 'BAKKIE': 747889, 'COUPLE': 564478, 'MPV': 390695, 'CABRIOLET': 150270, 'TRUCKS': 894576, 'TOTAL': 4204707}
{'_id': ObjectId('5e959047c39f5cd7f2fb3c00'), 'Unnamed: 0': 7, 'MAKE': 'VOLKSWAGEN', 'SUV': 834596, 'SEDAN': 876235, 'BAKKIE': 550986, 'COUPLE': 564877, 'MPV': 562357, 'CABRIOLET': 700123, 'TRUCKS': 614757, 'TOTAL': 4703931}
{'_id': ObjectId('5e959047c39f5cd7f2fb3c01'), 'Unnamed: 0': 8, 'MAKE': 'AUDI', 'SUV': 455678, 'SEDAN': 874766, 'BAKKIE': 567223, 'COUPLE': 556457, 'MPV': 512356, 'CABRIOLET': 789345, 'TRUCKS': 545681, 'TOTAL': 4301506}
{'_id': ObjectId('5e95a5b0c39f5cd7f2fb3c0c'), 'Unnamed: 0': 0, 'MAKE': 'TOYOTA', 'SUV': 288456, 'SEDAN': 652346, 'BAKKIE': 456123, 'COUPLE': 344565, 'MPV': 349855, 'CABRIOLET': 200560, 'TRUCKS': 523500, 'TOTAL': 2815405}
{'_id': ObjectId('5e95a5b0c39f5cd7f2fb3c0d'), 'Unnamed: 0': 1, 'MAKE': 'HYNDAI', 'SUV': 268123, 'SEDAN': 566457, 'BAKKIE': 444555, 'COUPLE': 458906, 'MPV': 438756, 'CABRIOLET': 957800, 'TRUCKS': 678750, 'TOTAL': 3813347}
{'_id': ObjectId('5e95a5b0c39f5cd7f2fb3c0e'), 'Unnamed: 0': 2, 'MAKE': 'KIA', 'SUV': 584345, 'SEDAN': 782386, 'BAKKIE': 456756, 'COUPLE': 412356, 'MPV': 413567, 'CABRIOLET': 783500, 'TRUCKS': 734580, 'TOTAL': 4167490}
{'_id': ObjectId('5e95a5b0c39f5cd7f2fb3c0f'), 'Unnamed: 0': 3, 'MAKE': 'MAZDA', 'SUV': 567347, 'SEDAN': 987896, 'BAKKIE': 564356, 'COUPLE': 454586, 'MPV': 459876, 'CABRIOLET': 323000, 'TRUCKS': 904560, 'TOTAL': 4261621}
{'_id': ObjectId('5e95a5b0c39f5cd7f2fb3c10'), 'Unnamed: 0': 4, 'MAKE': 'MERCEDES-BENZ', 'SUV': 132346, 'SEDAN': 567845, 'BAKKIE': 345623, 'COUPLE': 446755, 'MPV': 451956, 'CABRIOLET': 515700, 'TRUCKS': 782490, 'TOTAL': 3242715}
{'_id': ObjectId('5e95a5b0c39f5cd7f2fb3c11'), 'Unnamed: 0': 5, 'MAKE': 'NISSAN', 'SUV': 545667, 'SEDAN': 712365, 'BAKKIE': 556127, 'COUPLE': 561247, 'MPV': 326845, 'CABRIOLET': 245700, 'TRUCKS': 344550, 'TOTAL': 3292501}
{'_id': ObjectId('5e95a5b0c39f5cd7f2fb3c12'), 'Unnamed: 0': 6, 'MAKE': 'BMW', 'SUV': 678123, 'SEDAN': 778676, 'BAKKIE': 747889, 'COUPLE': 564478, 'MPV': 390695, 'CABRIOLET': 150270, 'TRUCKS': 894576, 'TOTAL': 4204707}
{'_id': ObjectId('5e95a5b0c39f5cd7f2fb3c13'), 'Unnamed: 0': 7, 'MAKE': 'VOLKSWAGEN', 'SUV': 834596, 'SEDAN': 876235, 'BAKKIE': 550986, 'COUPLE': 564877, 'MPV': 562357, 'CABRIOLET': 700123, 'TRUCKS': 614757, 'TOTAL': 4703931}
{'_id': ObjectId('5e95a5b0c39f5cd7f2fb3c14'), 'Unnamed: 0': 8, 'MAKE': 'AUDI', 'SUV': 455678, 'SEDAN': 874766, 'BAKKIE': 567223, 'COUPLE': 556457, 'MPV': 512356, 'CABRIOLET': 789345, 'TRUCKS': 545681, 'TOTAL': 4301506}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c2a'), 'Unnamed: 0': 0, 'MAKE': 'TOYOTA', 'SUV': 288456, 'SEDAN': 652346, 'BAKKIE': 456123, 'COUPLE': 344565, 'MPV': 349855, 'CABRIOLET': 200560, 'TRUCKS': 523500, 'TOTAL': 2815405}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c2b'), 'Unnamed: 0': 1, 'MAKE': 'HYNDAI', 'SUV': 268123, 'SEDAN': 566457, 'BAKKIE': 444555, 'COUPLE': 458906, 'MPV': 438756, 'CABRIOLET': 957800, 'TRUCKS': 678750, 'TOTAL': 3813347}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c2c'), 'Unnamed: 0': 2, 'MAKE': 'KIA', 'SUV': 584345, 'SEDAN': 782386, 'BAKKIE': 456756, 'COUPLE': 412356, 'MPV': 413567, 'CABRIOLET': 783500, 'TRUCKS': 734580, 'TOTAL': 4167490}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c2d'), 'Unnamed: 0': 3, 'MAKE': 'MAZDA', 'SUV': 567347, 'SEDAN': 987896, 'BAKKIE': 564356, 'COUPLE': 454586, 'MPV': 459876, 'CABRIOLET': 323000, 'TRUCKS': 904560, 'TOTAL': 4261621}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c2e'), 'Unnamed: 0': 4, 'MAKE': 'MERCEDES-BENZ', 'SUV': 132346, 'SEDAN': 567845, 'BAKKIE': 345623, 'COUPLE': 446755, 'MPV': 451956, 'CABRIOLET': 515700, 'TRUCKS': 782490, 'TOTAL': 3242715}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c2f'), 'Unnamed: 0': 5, 'MAKE': 'NISSAN', 'SUV': 545667, 'SEDAN': 712365, 'BAKKIE': 556127, 'COUPLE': 561247, 'MPV': 326845, 'CABRIOLET': 245700, 'TRUCKS': 344550, 'TOTAL': 3292501}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c30'), 'Unnamed: 0': 6, 'MAKE': 'BMW', 'SUV': 678123, 'SEDAN': 778676, 'BAKKIE': 747889, 'COUPLE': 564478, 'MPV': 390695, 'CABRIOLET': 150270, 'TRUCKS': 894576, 'TOTAL': 4204707}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c31'), 'Unnamed: 0': 7, 'MAKE': 'VOLKSWAGEN', 'SUV': 834596, 'SEDAN': 876235, 'BAKKIE': 550986, 'COUPLE': 564877, 'MPV': 562357, 'CABRIOLET': 700123, 'TRUCKS': 614757, 'TOTAL': 4703931}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c32'), 'Unnamed: 0': 8, 'MAKE': 'AUDI', 'SUV': 455678, 'SEDAN': 874766, 'BAKKIE': 567223, 'COUPLE': 556457, 'MPV': 512356, 'CABRIOLET': 789345, 'TRUCKS': 545681, 'TOTAL': 4301506}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c35'), 'MAKE': 'ALPHAROMEO', 'SUV': 'SEDAN'}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c36'), 'MAKE': 'HONDA', 'SUV': 'SEDAN'}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c37'), 'MAKE': 'FORD', 'SUV': 'SEDAN'}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c38'), 'MAKE': 'FERARI', 'SUV': 'SEDAN'}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c39'), 'MAKE': 'ROSROYCE', 'SUV': 'SEDAN'}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c59'), 'Unnamed: 0': 0, 'MAKE': 'TOYOTA', 'SUV': 288456, 'SEDAN': 652346, 'BAKKIE': 456123, 'COUPLE': 344565, 'MPV': 349855, 'CABRIOLET': 200560, 'TRUCKS': 523500, 'TOTAL': 2815405}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c5a'), 'Unnamed: 0': 1, 'MAKE': 'HYNDAI', 'SUV': 268123, 'SEDAN': 566457, 'BAKKIE': 444555, 'COUPLE': 458906, 'MPV': 438756, 'CABRIOLET': 957800, 'TRUCKS': 678750, 'TOTAL': 3813347}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c5b'), 'Unnamed: 0': 2, 'MAKE': 'KIA', 'SUV': 584345, 'SEDAN': 782386, 'BAKKIE': 456756, 'COUPLE': 412356, 'MPV': 413567, 'CABRIOLET': 783500, 'TRUCKS': 734580, 'TOTAL': 4167490}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c5c'), 'Unnamed: 0': 3, 'MAKE': 'MAZDA', 'SUV': 567347, 'SEDAN': 987896, 'BAKKIE': 564356, 'COUPLE': 454586, 'MPV': 459876, 'CABRIOLET': 323000, 'TRUCKS': 904560, 'TOTAL': 4261621}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c5d'), 'Unnamed: 0': 4, 'MAKE': 'MERCEDES-BENZ', 'SUV': 132346, 'SEDAN': 567845, 'BAKKIE': 345623, 'COUPLE': 446755, 'MPV': 451956, 'CABRIOLET': 515700, 'TRUCKS': 782490, 'TOTAL': 3242715}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c5e'), 'Unnamed: 0': 5, 'MAKE': 'NISSAN', 'SUV': 545667, 'SEDAN': 712365, 'BAKKIE': 556127, 'COUPLE': 561247, 'MPV': 326845, 'CABRIOLET': 245700, 'TRUCKS': 344550, 'TOTAL': 3292501}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c5f'), 'Unnamed: 0': 6, 'MAKE': 'BMW', 'SUV': 678123, 'SEDAN': 778676, 'BAKKIE': 747889, 'COUPLE': 564478, 'MPV': 390695, 'CABRIOLET': 150270, 'TRUCKS': 894576, 'TOTAL': 4204707}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c60'), 'Unnamed: 0': 7, 'MAKE': 'VOLKSWAGEN', 'SUV': 834596, 'SEDAN': 876235, 'BAKKIE': 550986, 'COUPLE': 564877, 'MPV': 562357, 'CABRIOLET': 700123, 'TRUCKS': 614757, 'TOTAL': 4703931}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c61'), 'Unnamed: 0': 8, 'MAKE': 'AUDI', 'SUV': 455678, 'SEDAN': 874766, 'BAKKIE': 567223, 'COUPLE': 556457, 'MPV': 512356, 'CABRIOLET': 789345, 'TRUCKS': 545681, 'TOTAL': 4301506}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c64'), 'MAKE': 'ALPHAROMEO', 'SUV': 'SEDAN'}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c65'), 'MAKE': 'HONDA', 'SUV': 'SEDAN'}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c66'), 'MAKE': 'FORD', 'SUV': 'SEDAN'}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c67'), 'MAKE': 'FERARI', 'SUV': 'SEDAN'}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c68'), 'MAKE': 'ROSROYCE', 'SUV': 'SEDAN'}

In [75]:
#implement descendid

myclient = pymongo.MongoClient("mongodb://localhost:27017/")   

mydb = myclient["DataTracker"]                       

mycol = mydb["MAKE"]


mydoc = mycol.find().sort("MAKE", -1)

for x in mydoc:
    print(x)

{'_id': ObjectId('5e95873c95d6bf8faf35b99a'), 'Unnamed: 0': 7, 'MAKE': 'VOLKSWAGEN', 'SUV': 834596, 'SEDAN': 876235, 'BAKKIE': 550986, 'COUPLE': 564877, 'MPV': 562357, 'CABRIOLET': 700123, 'TRUCKS': 614757, 'TOTAL': 4703931}
{'_id': ObjectId('5e959047c39f5cd7f2fb3c00'), 'Unnamed: 0': 7, 'MAKE': 'VOLKSWAGEN', 'SUV': 834596, 'SEDAN': 876235, 'BAKKIE': 550986, 'COUPLE': 564877, 'MPV': 562357, 'CABRIOLET': 700123, 'TRUCKS': 614757, 'TOTAL': 4703931}
{'_id': ObjectId('5e95a5b0c39f5cd7f2fb3c13'), 'Unnamed: 0': 7, 'MAKE': 'VOLKSWAGEN', 'SUV': 834596, 'SEDAN': 876235, 'BAKKIE': 550986, 'COUPLE': 564877, 'MPV': 562357, 'CABRIOLET': 700123, 'TRUCKS': 614757, 'TOTAL': 4703931}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c31'), 'Unnamed: 0': 7, 'MAKE': 'VOLKSWAGEN', 'SUV': 834596, 'SEDAN': 876235, 'BAKKIE': 550986, 'COUPLE': 564877, 'MPV': 562357, 'CABRIOLET': 700123, 'TRUCKS': 614757, 'TOTAL': 4703931}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c60'), 'Unnamed: 0': 7, 'MAKE': 'VOLKSWAGEN', 'SUV': 834596, 'SEDAN': 876235, 'BAKKIE': 550986, 'COUPLE': 564877, 'MPV': 562357, 'CABRIOLET': 700123, 'TRUCKS': 614757, 'TOTAL': 4703931}
{'_id': ObjectId('5e95873c95d6bf8faf35b993'), 'Unnamed: 0': 0, 'MAKE': 'TOYOTA', 'SUV': 288456, 'SEDAN': 652346, 'BAKKIE': 456123, 'COUPLE': 344565, 'MPV': 349855, 'CABRIOLET': 200560, 'TRUCKS': 523500, 'TOTAL': 2815405, 'BUCCATI': 'SUV'}
{'_id': ObjectId('5e959047c39f5cd7f2fb3bf9'), 'Unnamed: 0': 0, 'MAKE': 'TOYOTA', 'SUV': 288456, 'SEDAN': 652346, 'BAKKIE': 456123, 'COUPLE': 344565, 'MPV': 349855, 'CABRIOLET': 200560, 'TRUCKS': 523500, 'TOTAL': 2815405}
{'_id': ObjectId('5e95a5b0c39f5cd7f2fb3c0c'), 'Unnamed: 0': 0, 'MAKE': 'TOYOTA', 'SUV': 288456, 'SEDAN': 652346, 'BAKKIE': 456123, 'COUPLE': 344565, 'MPV': 349855, 'CABRIOLET': 200560, 'TRUCKS': 523500, 'TOTAL': 2815405}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c2a'), 'Unnamed: 0': 0, 'MAKE': 'TOYOTA', 'SUV': 288456, 'SEDAN': 652346, 'BAKKIE': 456123, 'COUPLE': 344565, 'MPV': 349855, 'CABRIOLET': 200560, 'TRUCKS': 523500, 'TOTAL': 2815405}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c59'), 'Unnamed: 0': 0, 'MAKE': 'TOYOTA', 'SUV': 288456, 'SEDAN': 652346, 'BAKKIE': 456123, 'COUPLE': 344565, 'MPV': 349855, 'CABRIOLET': 200560, 'TRUCKS': 523500, 'TOTAL': 2815405}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c39'), 'MAKE': 'ROSROYCE', 'SUV': 'SEDAN'}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c68'), 'MAKE': 'ROSROYCE', 'SUV': 'SEDAN'}
{'_id': ObjectId('5e95873c95d6bf8faf35b998'), 'Unnamed: 0': 5, 'MAKE': 'NISSAN', 'SUV': 545667, 'SEDAN': 712365, 'BAKKIE': 556127, 'COUPLE': 561247, 'MPV': 326845, 'CABRIOLET': 245700, 'TRUCKS': 344550, 'TOTAL': 3292501}
{'_id': ObjectId('5e959047c39f5cd7f2fb3bfe'), 'Unnamed: 0': 5, 'MAKE': 'NISSAN', 'SUV': 545667, 'SEDAN': 712365, 'BAKKIE': 556127, 'COUPLE': 561247, 'MPV': 326845, 'CABRIOLET': 245700, 'TRUCKS': 344550, 'TOTAL': 3292501}
{'_id': ObjectId('5e95a5b0c39f5cd7f2fb3c11'), 'Unnamed: 0': 5, 'MAKE': 'NISSAN', 'SUV': 545667, 'SEDAN': 712365, 'BAKKIE': 556127, 'COUPLE': 561247, 'MPV': 326845, 'CABRIOLET': 245700, 'TRUCKS': 344550, 'TOTAL': 3292501}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c2f'), 'Unnamed: 0': 5, 'MAKE': 'NISSAN', 'SUV': 545667, 'SEDAN': 712365, 'BAKKIE': 556127, 'COUPLE': 561247, 'MPV': 326845, 'CABRIOLET': 245700, 'TRUCKS': 344550, 'TOTAL': 3292501}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c5e'), 'Unnamed: 0': 5, 'MAKE': 'NISSAN', 'SUV': 545667, 'SEDAN': 712365, 'BAKKIE': 556127, 'COUPLE': 561247, 'MPV': 326845, 'CABRIOLET': 245700, 'TRUCKS': 344550, 'TOTAL': 3292501}
{'_id': ObjectId('5e95873c95d6bf8faf35b997'), 'Unnamed: 0': 4, 'MAKE': 'MERCEDES-BENZ', 'SUV': 132346, 'SEDAN': 567845, 'BAKKIE': 345623, 'COUPLE': 446755, 'MPV': 451956, 'CABRIOLET': 515700, 'TRUCKS': 782490, 'TOTAL': 3242715}
{'_id': ObjectId('5e959047c39f5cd7f2fb3bfd'), 'Unnamed: 0': 4, 'MAKE': 'MERCEDES-BENZ', 'SUV': 132346, 'SEDAN': 567845, 'BAKKIE': 345623, 'COUPLE': 446755, 'MPV': 451956, 'CABRIOLET': 515700, 'TRUCKS': 782490, 'TOTAL': 3242715}
{'_id': ObjectId('5e95a5b0c39f5cd7f2fb3c10'), 'Unnamed: 0': 4, 'MAKE': 'MERCEDES-BENZ', 'SUV': 132346, 'SEDAN': 567845, 'BAKKIE': 345623, 'COUPLE': 446755, 'MPV': 451956, 'CABRIOLET': 515700, 'TRUCKS': 782490, 'TOTAL': 3242715}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c2e'), 'Unnamed: 0': 4, 'MAKE': 'MERCEDES-BENZ', 'SUV': 132346, 'SEDAN': 567845, 'BAKKIE': 345623, 'COUPLE': 446755, 'MPV': 451956, 'CABRIOLET': 515700, 'TRUCKS': 782490, 'TOTAL': 3242715}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c5d'), 'Unnamed: 0': 4, 'MAKE': 'MERCEDES-BENZ', 'SUV': 132346, 'SEDAN': 567845, 'BAKKIE': 345623, 'COUPLE': 446755, 'MPV': 451956, 'CABRIOLET': 515700, 'TRUCKS': 782490, 'TOTAL': 3242715}
{'_id': ObjectId('5e95873c95d6bf8faf35b996'), 'Unnamed: 0': 3, 'MAKE': 'MAZDA', 'SUV': 567347, 'SEDAN': 987896, 'BAKKIE': 564356, 'COUPLE': 454586, 'MPV': 459876, 'CABRIOLET': 323000, 'TRUCKS': 904560, 'TOTAL': 4261621}
{'_id': ObjectId('5e959047c39f5cd7f2fb3bfc'), 'Unnamed: 0': 3, 'MAKE': 'MAZDA', 'SUV': 567347, 'SEDAN': 987896, 'BAKKIE': 564356, 'COUPLE': 454586, 'MPV': 459876, 'CABRIOLET': 323000, 'TRUCKS': 904560, 'TOTAL': 4261621}
{'_id': ObjectId('5e95a5b0c39f5cd7f2fb3c0f'), 'Unnamed: 0': 3, 'MAKE': 'MAZDA', 'SUV': 567347, 'SEDAN': 987896, 'BAKKIE': 564356, 'COUPLE': 454586, 'MPV': 459876, 'CABRIOLET': 323000, 'TRUCKS': 904560, 'TOTAL': 4261621}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c2d'), 'Unnamed: 0': 3, 'MAKE': 'MAZDA', 'SUV': 567347, 'SEDAN': 987896, 'BAKKIE': 564356, 'COUPLE': 454586, 'MPV': 459876, 'CABRIOLET': 323000, 'TRUCKS': 904560, 'TOTAL': 4261621}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c5c'), 'Unnamed: 0': 3, 'MAKE': 'MAZDA', 'SUV': 567347, 'SEDAN': 987896, 'BAKKIE': 564356, 'COUPLE': 454586, 'MPV': 459876, 'CABRIOLET': 323000, 'TRUCKS': 904560, 'TOTAL': 4261621}
{'_id': ObjectId('5e95873c95d6bf8faf35b995'), 'Unnamed: 0': 2, 'MAKE': 'KIA', 'SUV': 584345, 'SEDAN': 782386, 'BAKKIE': 456756, 'COUPLE': 412356, 'MPV': 413567, 'CABRIOLET': 783500, 'TRUCKS': 734580, 'TOTAL': 4167490}
{'_id': ObjectId('5e959047c39f5cd7f2fb3bfb'), 'Unnamed: 0': 2, 'MAKE': 'KIA', 'SUV': 584345, 'SEDAN': 782386, 'BAKKIE': 456756, 'COUPLE': 412356, 'MPV': 413567, 'CABRIOLET': 783500, 'TRUCKS': 734580, 'TOTAL': 4167490}
{'_id': ObjectId('5e95a5b0c39f5cd7f2fb3c0e'), 'Unnamed: 0': 2, 'MAKE': 'KIA', 'SUV': 584345, 'SEDAN': 782386, 'BAKKIE': 456756, 'COUPLE': 412356, 'MPV': 413567, 'CABRIOLET': 783500, 'TRUCKS': 734580, 'TOTAL': 4167490}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c2c'), 'Unnamed: 0': 2, 'MAKE': 'KIA', 'SUV': 584345, 'SEDAN': 782386, 'BAKKIE': 456756, 'COUPLE': 412356, 'MPV': 413567, 'CABRIOLET': 783500, 'TRUCKS': 734580, 'TOTAL': 4167490}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c5b'), 'Unnamed: 0': 2, 'MAKE': 'KIA', 'SUV': 584345, 'SEDAN': 782386, 'BAKKIE': 456756, 'COUPLE': 412356, 'MPV': 413567, 'CABRIOLET': 783500, 'TRUCKS': 734580, 'TOTAL': 4167490}
{'_id': ObjectId('5e95873c95d6bf8faf35b994'), 'Unnamed: 0': 1, 'MAKE': 'HYNDAI', 'SUV': 268123, 'SEDAN': 566457, 'BAKKIE': 444555, 'COUPLE': 458906, 'MPV': 438756, 'CABRIOLET': 957800, 'TRUCKS': 678750, 'TOTAL': 3813347}
{'_id': ObjectId('5e959047c39f5cd7f2fb3bfa'), 'Unnamed: 0': 1, 'MAKE': 'HYNDAI', 'SUV': 268123, 'SEDAN': 566457, 'BAKKIE': 444555, 'COUPLE': 458906, 'MPV': 438756, 'CABRIOLET': 957800, 'TRUCKS': 678750, 'TOTAL': 3813347}
{'_id': ObjectId('5e95a5b0c39f5cd7f2fb3c0d'), 'Unnamed: 0': 1, 'MAKE': 'HYNDAI', 'SUV': 268123, 'SEDAN': 566457, 'BAKKIE': 444555, 'COUPLE': 458906, 'MPV': 438756, 'CABRIOLET': 957800, 'TRUCKS': 678750, 'TOTAL': 3813347}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c2b'), 'Unnamed: 0': 1, 'MAKE': 'HYNDAI', 'SUV': 268123, 'SEDAN': 566457, 'BAKKIE': 444555, 'COUPLE': 458906, 'MPV': 438756, 'CABRIOLET': 957800, 'TRUCKS': 678750, 'TOTAL': 3813347}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c5a'), 'Unnamed: 0': 1, 'MAKE': 'HYNDAI', 'SUV': 268123, 'SEDAN': 566457, 'BAKKIE': 444555, 'COUPLE': 458906, 'MPV': 438756, 'CABRIOLET': 957800, 'TRUCKS': 678750, 'TOTAL': 3813347}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c36'), 'MAKE': 'HONDA', 'SUV': 'SEDAN'}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c65'), 'MAKE': 'HONDA', 'SUV': 'SEDAN'}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c37'), 'MAKE': 'FORD', 'SUV': 'SEDAN'}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c66'), 'MAKE': 'FORD', 'SUV': 'SEDAN'}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c38'), 'MAKE': 'FERARI', 'SUV': 'SEDAN'}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c67'), 'MAKE': 'FERARI', 'SUV': 'SEDAN'}
{'_id': ObjectId('5e95873c95d6bf8faf35b999'), 'Unnamed: 0': 6, 'MAKE': 'BMW', 'SUV': 678123, 'SEDAN': 778676, 'BAKKIE': 747889, 'COUPLE': 564478, 'MPV': 390695, 'CABRIOLET': 150270, 'TRUCKS': 894576, 'TOTAL': 4204707}
{'_id': ObjectId('5e959047c39f5cd7f2fb3bff'), 'Unnamed: 0': 6, 'MAKE': 'BMW', 'SUV': 678123, 'SEDAN': 778676, 'BAKKIE': 747889, 'COUPLE': 564478, 'MPV': 390695, 'CABRIOLET': 150270, 'TRUCKS': 894576, 'TOTAL': 4204707}
{'_id': ObjectId('5e95a5b0c39f5cd7f2fb3c12'), 'Unnamed: 0': 6, 'MAKE': 'BMW', 'SUV': 678123, 'SEDAN': 778676, 'BAKKIE': 747889, 'COUPLE': 564478, 'MPV': 390695, 'CABRIOLET': 150270, 'TRUCKS': 894576, 'TOTAL': 4204707}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c30'), 'Unnamed: 0': 6, 'MAKE': 'BMW', 'SUV': 678123, 'SEDAN': 778676, 'BAKKIE': 747889, 'COUPLE': 564478, 'MPV': 390695, 'CABRIOLET': 150270, 'TRUCKS': 894576, 'TOTAL': 4204707}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c5f'), 'Unnamed: 0': 6, 'MAKE': 'BMW', 'SUV': 678123, 'SEDAN': 778676, 'BAKKIE': 747889, 'COUPLE': 564478, 'MPV': 390695, 'CABRIOLET': 150270, 'TRUCKS': 894576, 'TOTAL': 4204707}
{'_id': ObjectId('5e95873c95d6bf8faf35b99b'), 'Unnamed: 0': 8, 'MAKE': 'AUDI', 'SUV': 455678, 'SEDAN': 874766, 'BAKKIE': 567223, 'COUPLE': 556457, 'MPV': 512356, 'CABRIOLET': 789345, 'TRUCKS': 545681, 'TOTAL': 4301506}
{'_id': ObjectId('5e959047c39f5cd7f2fb3c01'), 'Unnamed: 0': 8, 'MAKE': 'AUDI', 'SUV': 455678, 'SEDAN': 874766, 'BAKKIE': 567223, 'COUPLE': 556457, 'MPV': 512356, 'CABRIOLET': 789345, 'TRUCKS': 545681, 'TOTAL': 4301506}
{'_id': ObjectId('5e95a5b0c39f5cd7f2fb3c14'), 'Unnamed: 0': 8, 'MAKE': 'AUDI', 'SUV': 455678, 'SEDAN': 874766, 'BAKKIE': 567223, 'COUPLE': 556457, 'MPV': 512356, 'CABRIOLET': 789345, 'TRUCKS': 545681, 'TOTAL': 4301506}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c32'), 'Unnamed: 0': 8, 'MAKE': 'AUDI', 'SUV': 455678, 'SEDAN': 874766, 'BAKKIE': 567223, 'COUPLE': 556457, 'MPV': 512356, 'CABRIOLET': 789345, 'TRUCKS': 545681, 'TOTAL': 4301506}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c61'), 'Unnamed: 0': 8, 'MAKE': 'AUDI', 'SUV': 455678, 'SEDAN': 874766, 'BAKKIE': 567223, 'COUPLE': 556457, 'MPV': 512356, 'CABRIOLET': 789345, 'TRUCKS': 545681, 'TOTAL': 4301506}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c35'), 'MAKE': 'ALPHAROMEO', 'SUV': 'SEDAN'}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c64'), 'MAKE': 'ALPHAROMEO', 'SUV': 'SEDAN'}

In [76]:
# Delete

myclient = pymongo.MongoClient("mongodb://localhost:27017/")   

mydb = myclient["DataTracker"]                       

mycol = mydb["MAKE"]

myquery = {"TOYOTA": "SUV"}
myquery = {"KIA": "SUV"}
mycol.delete_many(myquery)

In [77]:
#FILTER

import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["DataTracker"]
mycol = mydb["MAKE"]
MAKE= list(mycol.find())

for SUV in MAKE:
    print('{0}{1}{2}{3}{4}'.format(SUV['MAKE'],SUV['MAKE'],SUV['MAKE'],SUV['MAKE'],SUV['MAKE']))

TOYOTATOYOTATOYOTATOYOTATOYOTA
HYNDAIHYNDAIHYNDAIHYNDAIHYNDAI
KIAKIAKIAKIAKIA
MAZDAMAZDAMAZDAMAZDAMAZDA
MERCEDES-BENZMERCEDES-BENZMERCEDES-BENZMERCEDES-BENZMERCEDES-BENZ
NISSANNISSANNISSANNISSANNISSAN
BMWBMWBMWBMWBMW
VOLKSWAGENVOLKSWAGENVOLKSWAGENVOLKSWAGENVOLKSWAGEN
AUDIAUDIAUDIAUDIAUDI
TOYOTATOYOTATOYOTATOYOTATOYOTA
HYNDAIHYNDAIHYNDAIHYNDAIHYNDAI
KIAKIAKIAKIAKIA
MAZDAMAZDAMAZDAMAZDAMAZDA
MERCEDES-BENZMERCEDES-BENZMERCEDES-BENZMERCEDES-BENZMERCEDES-BENZ
NISSANNISSANNISSANNISSANNISSAN
BMWBMWBMWBMWBMW
VOLKSWAGENVOLKSWAGENVOLKSWAGENVOLKSWAGENVOLKSWAGEN
AUDIAUDIAUDIAUDIAUDI
TOYOTATOYOTATOYOTATOYOTATOYOTA
HYNDAIHYNDAIHYNDAIHYNDAIHYNDAI
KIAKIAKIAKIAKIA
MAZDAMAZDAMAZDAMAZDAMAZDA
MERCEDES-BENZMERCEDES-BENZMERCEDES-BENZMERCEDES-BENZMERCEDES-BENZ
NISSANNISSANNISSANNISSANNISSAN
BMWBMWBMWBMWBMW
VOLKSWAGENVOLKSWAGENVOLKSWAGENVOLKSWAGENVOLKSWAGEN
AUDIAUDIAUDIAUDIAUDI
TOYOTATOYOTATOYOTATOYOTATOYOTA
HYNDAIHYNDAIHYNDAIHYNDAIHYNDAI
KIAKIAKIAKIAKIA
MAZDAMAZDAMAZDAMAZDAMAZDA
MERCEDES-BENZMERCEDES-BENZMERCEDES-BENZMERCEDES-BENZMERCEDES-BENZ
NISSANNISSANNISSANNISSANNISSAN
BMWBMWBMWBMWBMW
VOLKSWAGENVOLKSWAGENVOLKSWAGENVOLKSWAGENVOLKSWAGEN
AUDIAUDIAUDIAUDIAUDI
ALPHAROMEOALPHAROMEOALPHAROMEOALPHAROMEOALPHAROMEO
HONDAHONDAHONDAHONDAHONDA
FORDFORDFORDFORDFORD
FERARIFERARIFERARIFERARIFERARI
ROSROYCEROSROYCEROSROYCEROSROYCEROSROYCE
TOYOTATOYOTATOYOTATOYOTATOYOTA
HYNDAIHYNDAIHYNDAIHYNDAIHYNDAI
KIAKIAKIAKIAKIA
MAZDAMAZDAMAZDAMAZDAMAZDA
MERCEDES-BENZMERCEDES-BENZMERCEDES-BENZMERCEDES-BENZMERCEDES-BENZ
NISSANNISSANNISSANNISSANNISSAN
BMWBMWBMWBMWBMW
VOLKSWAGENVOLKSWAGENVOLKSWAGENVOLKSWAGENVOLKSWAGEN
AUDIAUDIAUDIAUDIAUDI
ALPHAROMEOALPHAROMEOALPHAROMEOALPHAROMEOALPHAROMEO
HONDAHONDAHONDAHONDAHONDA
FORDFORDFORDFORDFORD
FERARIFERARIFERARIFERARIFERARI
ROSROYCEROSROYCEROSROYCEROSROYCEROSROYCE

In [78]:
#Update


import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["DataTracker"]

mycol = mydb["MAKE"]

myquery = { "MAKE": "TOYOTA" }
newvalues ={"$set": {"BUCCATI": "SUV"}}

mycol.update_one(myquery, newvalues)

for x in mycol.find():
    print(x)

{'_id': ObjectId('5e95873c95d6bf8faf35b993'), 'Unnamed: 0': 0, 'MAKE': 'TOYOTA', 'SUV': 288456, 'SEDAN': 652346, 'BAKKIE': 456123, 'COUPLE': 344565, 'MPV': 349855, 'CABRIOLET': 200560, 'TRUCKS': 523500, 'TOTAL': 2815405, 'BUCCATI': 'SUV'}
{'_id': ObjectId('5e95873c95d6bf8faf35b994'), 'Unnamed: 0': 1, 'MAKE': 'HYNDAI', 'SUV': 268123, 'SEDAN': 566457, 'BAKKIE': 444555, 'COUPLE': 458906, 'MPV': 438756, 'CABRIOLET': 957800, 'TRUCKS': 678750, 'TOTAL': 3813347}
{'_id': ObjectId('5e95873c95d6bf8faf35b995'), 'Unnamed: 0': 2, 'MAKE': 'KIA', 'SUV': 584345, 'SEDAN': 782386, 'BAKKIE': 456756, 'COUPLE': 412356, 'MPV': 413567, 'CABRIOLET': 783500, 'TRUCKS': 734580, 'TOTAL': 4167490}
{'_id': ObjectId('5e95873c95d6bf8faf35b996'), 'Unnamed: 0': 3, 'MAKE': 'MAZDA', 'SUV': 567347, 'SEDAN': 987896, 'BAKKIE': 564356, 'COUPLE': 454586, 'MPV': 459876, 'CABRIOLET': 323000, 'TRUCKS': 904560, 'TOTAL': 4261621}
{'_id': ObjectId('5e95873c95d6bf8faf35b997'), 'Unnamed: 0': 4, 'MAKE': 'MERCEDES-BENZ', 'SUV': 132346, 'SEDAN': 567845, 'BAKKIE': 345623, 'COUPLE': 446755, 'MPV': 451956, 'CABRIOLET': 515700, 'TRUCKS': 782490, 'TOTAL': 3242715}
{'_id': ObjectId('5e95873c95d6bf8faf35b998'), 'Unnamed: 0': 5, 'MAKE': 'NISSAN', 'SUV': 545667, 'SEDAN': 712365, 'BAKKIE': 556127, 'COUPLE': 561247, 'MPV': 326845, 'CABRIOLET': 245700, 'TRUCKS': 344550, 'TOTAL': 3292501}
{'_id': ObjectId('5e95873c95d6bf8faf35b999'), 'Unnamed: 0': 6, 'MAKE': 'BMW', 'SUV': 678123, 'SEDAN': 778676, 'BAKKIE': 747889, 'COUPLE': 564478, 'MPV': 390695, 'CABRIOLET': 150270, 'TRUCKS': 894576, 'TOTAL': 4204707}
{'_id': ObjectId('5e95873c95d6bf8faf35b99a'), 'Unnamed: 0': 7, 'MAKE': 'VOLKSWAGEN', 'SUV': 834596, 'SEDAN': 876235, 'BAKKIE': 550986, 'COUPLE': 564877, 'MPV': 562357, 'CABRIOLET': 700123, 'TRUCKS': 614757, 'TOTAL': 4703931}
{'_id': ObjectId('5e95873c95d6bf8faf35b99b'), 'Unnamed: 0': 8, 'MAKE': 'AUDI', 'SUV': 455678, 'SEDAN': 874766, 'BAKKIE': 567223, 'COUPLE': 556457, 'MPV': 512356, 'CABRIOLET': 789345, 'TRUCKS': 545681, 'TOTAL': 4301506}
{'_id': ObjectId('5e959047c39f5cd7f2fb3bf9'), 'Unnamed: 0': 0, 'MAKE': 'TOYOTA', 'SUV': 288456, 'SEDAN': 652346, 'BAKKIE': 456123, 'COUPLE': 344565, 'MPV': 349855, 'CABRIOLET': 200560, 'TRUCKS': 523500, 'TOTAL': 2815405}
{'_id': ObjectId('5e959047c39f5cd7f2fb3bfa'), 'Unnamed: 0': 1, 'MAKE': 'HYNDAI', 'SUV': 268123, 'SEDAN': 566457, 'BAKKIE': 444555, 'COUPLE': 458906, 'MPV': 438756, 'CABRIOLET': 957800, 'TRUCKS': 678750, 'TOTAL': 3813347}
{'_id': ObjectId('5e959047c39f5cd7f2fb3bfb'), 'Unnamed: 0': 2, 'MAKE': 'KIA', 'SUV': 584345, 'SEDAN': 782386, 'BAKKIE': 456756, 'COUPLE': 412356, 'MPV': 413567, 'CABRIOLET': 783500, 'TRUCKS': 734580, 'TOTAL': 4167490}
{'_id': ObjectId('5e959047c39f5cd7f2fb3bfc'), 'Unnamed: 0': 3, 'MAKE': 'MAZDA', 'SUV': 567347, 'SEDAN': 987896, 'BAKKIE': 564356, 'COUPLE': 454586, 'MPV': 459876, 'CABRIOLET': 323000, 'TRUCKS': 904560, 'TOTAL': 4261621}
{'_id': ObjectId('5e959047c39f5cd7f2fb3bfd'), 'Unnamed: 0': 4, 'MAKE': 'MERCEDES-BENZ', 'SUV': 132346, 'SEDAN': 567845, 'BAKKIE': 345623, 'COUPLE': 446755, 'MPV': 451956, 'CABRIOLET': 515700, 'TRUCKS': 782490, 'TOTAL': 3242715}
{'_id': ObjectId('5e959047c39f5cd7f2fb3bfe'), 'Unnamed: 0': 5, 'MAKE': 'NISSAN', 'SUV': 545667, 'SEDAN': 712365, 'BAKKIE': 556127, 'COUPLE': 561247, 'MPV': 326845, 'CABRIOLET': 245700, 'TRUCKS': 344550, 'TOTAL': 3292501}
{'_id': ObjectId('5e959047c39f5cd7f2fb3bff'), 'Unnamed: 0': 6, 'MAKE': 'BMW', 'SUV': 678123, 'SEDAN': 778676, 'BAKKIE': 747889, 'COUPLE': 564478, 'MPV': 390695, 'CABRIOLET': 150270, 'TRUCKS': 894576, 'TOTAL': 4204707}
{'_id': ObjectId('5e959047c39f5cd7f2fb3c00'), 'Unnamed: 0': 7, 'MAKE': 'VOLKSWAGEN', 'SUV': 834596, 'SEDAN': 876235, 'BAKKIE': 550986, 'COUPLE': 564877, 'MPV': 562357, 'CABRIOLET': 700123, 'TRUCKS': 614757, 'TOTAL': 4703931}
{'_id': ObjectId('5e959047c39f5cd7f2fb3c01'), 'Unnamed: 0': 8, 'MAKE': 'AUDI', 'SUV': 455678, 'SEDAN': 874766, 'BAKKIE': 567223, 'COUPLE': 556457, 'MPV': 512356, 'CABRIOLET': 789345, 'TRUCKS': 545681, 'TOTAL': 4301506}
{'_id': ObjectId('5e95a5b0c39f5cd7f2fb3c0c'), 'Unnamed: 0': 0, 'MAKE': 'TOYOTA', 'SUV': 288456, 'SEDAN': 652346, 'BAKKIE': 456123, 'COUPLE': 344565, 'MPV': 349855, 'CABRIOLET': 200560, 'TRUCKS': 523500, 'TOTAL': 2815405}
{'_id': ObjectId('5e95a5b0c39f5cd7f2fb3c0d'), 'Unnamed: 0': 1, 'MAKE': 'HYNDAI', 'SUV': 268123, 'SEDAN': 566457, 'BAKKIE': 444555, 'COUPLE': 458906, 'MPV': 438756, 'CABRIOLET': 957800, 'TRUCKS': 678750, 'TOTAL': 3813347}
{'_id': ObjectId('5e95a5b0c39f5cd7f2fb3c0e'), 'Unnamed: 0': 2, 'MAKE': 'KIA', 'SUV': 584345, 'SEDAN': 782386, 'BAKKIE': 456756, 'COUPLE': 412356, 'MPV': 413567, 'CABRIOLET': 783500, 'TRUCKS': 734580, 'TOTAL': 4167490}
{'_id': ObjectId('5e95a5b0c39f5cd7f2fb3c0f'), 'Unnamed: 0': 3, 'MAKE': 'MAZDA', 'SUV': 567347, 'SEDAN': 987896, 'BAKKIE': 564356, 'COUPLE': 454586, 'MPV': 459876, 'CABRIOLET': 323000, 'TRUCKS': 904560, 'TOTAL': 4261621}
{'_id': ObjectId('5e95a5b0c39f5cd7f2fb3c10'), 'Unnamed: 0': 4, 'MAKE': 'MERCEDES-BENZ', 'SUV': 132346, 'SEDAN': 567845, 'BAKKIE': 345623, 'COUPLE': 446755, 'MPV': 451956, 'CABRIOLET': 515700, 'TRUCKS': 782490, 'TOTAL': 3242715}
{'_id': ObjectId('5e95a5b0c39f5cd7f2fb3c11'), 'Unnamed: 0': 5, 'MAKE': 'NISSAN', 'SUV': 545667, 'SEDAN': 712365, 'BAKKIE': 556127, 'COUPLE': 561247, 'MPV': 326845, 'CABRIOLET': 245700, 'TRUCKS': 344550, 'TOTAL': 3292501}
{'_id': ObjectId('5e95a5b0c39f5cd7f2fb3c12'), 'Unnamed: 0': 6, 'MAKE': 'BMW', 'SUV': 678123, 'SEDAN': 778676, 'BAKKIE': 747889, 'COUPLE': 564478, 'MPV': 390695, 'CABRIOLET': 150270, 'TRUCKS': 894576, 'TOTAL': 4204707}
{'_id': ObjectId('5e95a5b0c39f5cd7f2fb3c13'), 'Unnamed: 0': 7, 'MAKE': 'VOLKSWAGEN', 'SUV': 834596, 'SEDAN': 876235, 'BAKKIE': 550986, 'COUPLE': 564877, 'MPV': 562357, 'CABRIOLET': 700123, 'TRUCKS': 614757, 'TOTAL': 4703931}
{'_id': ObjectId('5e95a5b0c39f5cd7f2fb3c14'), 'Unnamed: 0': 8, 'MAKE': 'AUDI', 'SUV': 455678, 'SEDAN': 874766, 'BAKKIE': 567223, 'COUPLE': 556457, 'MPV': 512356, 'CABRIOLET': 789345, 'TRUCKS': 545681, 'TOTAL': 4301506}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c2a'), 'Unnamed: 0': 0, 'MAKE': 'TOYOTA', 'SUV': 288456, 'SEDAN': 652346, 'BAKKIE': 456123, 'COUPLE': 344565, 'MPV': 349855, 'CABRIOLET': 200560, 'TRUCKS': 523500, 'TOTAL': 2815405}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c2b'), 'Unnamed: 0': 1, 'MAKE': 'HYNDAI', 'SUV': 268123, 'SEDAN': 566457, 'BAKKIE': 444555, 'COUPLE': 458906, 'MPV': 438756, 'CABRIOLET': 957800, 'TRUCKS': 678750, 'TOTAL': 3813347}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c2c'), 'Unnamed: 0': 2, 'MAKE': 'KIA', 'SUV': 584345, 'SEDAN': 782386, 'BAKKIE': 456756, 'COUPLE': 412356, 'MPV': 413567, 'CABRIOLET': 783500, 'TRUCKS': 734580, 'TOTAL': 4167490}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c2d'), 'Unnamed: 0': 3, 'MAKE': 'MAZDA', 'SUV': 567347, 'SEDAN': 987896, 'BAKKIE': 564356, 'COUPLE': 454586, 'MPV': 459876, 'CABRIOLET': 323000, 'TRUCKS': 904560, 'TOTAL': 4261621}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c2e'), 'Unnamed: 0': 4, 'MAKE': 'MERCEDES-BENZ', 'SUV': 132346, 'SEDAN': 567845, 'BAKKIE': 345623, 'COUPLE': 446755, 'MPV': 451956, 'CABRIOLET': 515700, 'TRUCKS': 782490, 'TOTAL': 3242715}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c2f'), 'Unnamed: 0': 5, 'MAKE': 'NISSAN', 'SUV': 545667, 'SEDAN': 712365, 'BAKKIE': 556127, 'COUPLE': 561247, 'MPV': 326845, 'CABRIOLET': 245700, 'TRUCKS': 344550, 'TOTAL': 3292501}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c30'), 'Unnamed: 0': 6, 'MAKE': 'BMW', 'SUV': 678123, 'SEDAN': 778676, 'BAKKIE': 747889, 'COUPLE': 564478, 'MPV': 390695, 'CABRIOLET': 150270, 'TRUCKS': 894576, 'TOTAL': 4204707}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c31'), 'Unnamed: 0': 7, 'MAKE': 'VOLKSWAGEN', 'SUV': 834596, 'SEDAN': 876235, 'BAKKIE': 550986, 'COUPLE': 564877, 'MPV': 562357, 'CABRIOLET': 700123, 'TRUCKS': 614757, 'TOTAL': 4703931}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c32'), 'Unnamed: 0': 8, 'MAKE': 'AUDI', 'SUV': 455678, 'SEDAN': 874766, 'BAKKIE': 567223, 'COUPLE': 556457, 'MPV': 512356, 'CABRIOLET': 789345, 'TRUCKS': 545681, 'TOTAL': 4301506}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c35'), 'MAKE': 'ALPHAROMEO', 'SUV': 'SEDAN'}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c36'), 'MAKE': 'HONDA', 'SUV': 'SEDAN'}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c37'), 'MAKE': 'FORD', 'SUV': 'SEDAN'}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c38'), 'MAKE': 'FERARI', 'SUV': 'SEDAN'}
{'_id': ObjectId('5e95ac79c39f5cd7f2fb3c39'), 'MAKE': 'ROSROYCE', 'SUV': 'SEDAN'}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c59'), 'Unnamed: 0': 0, 'MAKE': 'TOYOTA', 'SUV': 288456, 'SEDAN': 652346, 'BAKKIE': 456123, 'COUPLE': 344565, 'MPV': 349855, 'CABRIOLET': 200560, 'TRUCKS': 523500, 'TOTAL': 2815405}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c5a'), 'Unnamed: 0': 1, 'MAKE': 'HYNDAI', 'SUV': 268123, 'SEDAN': 566457, 'BAKKIE': 444555, 'COUPLE': 458906, 'MPV': 438756, 'CABRIOLET': 957800, 'TRUCKS': 678750, 'TOTAL': 3813347}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c5b'), 'Unnamed: 0': 2, 'MAKE': 'KIA', 'SUV': 584345, 'SEDAN': 782386, 'BAKKIE': 456756, 'COUPLE': 412356, 'MPV': 413567, 'CABRIOLET': 783500, 'TRUCKS': 734580, 'TOTAL': 4167490}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c5c'), 'Unnamed: 0': 3, 'MAKE': 'MAZDA', 'SUV': 567347, 'SEDAN': 987896, 'BAKKIE': 564356, 'COUPLE': 454586, 'MPV': 459876, 'CABRIOLET': 323000, 'TRUCKS': 904560, 'TOTAL': 4261621}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c5d'), 'Unnamed: 0': 4, 'MAKE': 'MERCEDES-BENZ', 'SUV': 132346, 'SEDAN': 567845, 'BAKKIE': 345623, 'COUPLE': 446755, 'MPV': 451956, 'CABRIOLET': 515700, 'TRUCKS': 782490, 'TOTAL': 3242715}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c5e'), 'Unnamed: 0': 5, 'MAKE': 'NISSAN', 'SUV': 545667, 'SEDAN': 712365, 'BAKKIE': 556127, 'COUPLE': 561247, 'MPV': 326845, 'CABRIOLET': 245700, 'TRUCKS': 344550, 'TOTAL': 3292501}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c5f'), 'Unnamed: 0': 6, 'MAKE': 'BMW', 'SUV': 678123, 'SEDAN': 778676, 'BAKKIE': 747889, 'COUPLE': 564478, 'MPV': 390695, 'CABRIOLET': 150270, 'TRUCKS': 894576, 'TOTAL': 4204707}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c60'), 'Unnamed: 0': 7, 'MAKE': 'VOLKSWAGEN', 'SUV': 834596, 'SEDAN': 876235, 'BAKKIE': 550986, 'COUPLE': 564877, 'MPV': 562357, 'CABRIOLET': 700123, 'TRUCKS': 614757, 'TOTAL': 4703931}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c61'), 'Unnamed: 0': 8, 'MAKE': 'AUDI', 'SUV': 455678, 'SEDAN': 874766, 'BAKKIE': 567223, 'COUPLE': 556457, 'MPV': 512356, 'CABRIOLET': 789345, 'TRUCKS': 545681, 'TOTAL': 4301506}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c64'), 'MAKE': 'ALPHAROMEO', 'SUV': 'SEDAN'}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c65'), 'MAKE': 'HONDA', 'SUV': 'SEDAN'}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c66'), 'MAKE': 'FORD', 'SUV': 'SEDAN'}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c67'), 'MAKE': 'FERARI', 'SUV': 'SEDAN'}
{'_id': ObjectId('5e95b331c39f5cd7f2fb3c68'), 'MAKE': 'ROSROYCE', 'SUV': 'SEDAN'}